div{
    margin: 1px solid black;
}
.calc_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: larger;
}
h4 {
    color: black;
    font-size: x-large;
}
button.right {
    background: crimson;
    font-size: xx-large;
    /* width: 15px; */
    /* height: 15px; */
}
.flex{
    display: flex;
}
.width{
    width: 300px;
}
button{
    padding: 30px;
}
.right{
    float: right;
}